
.proposal-page {
    width: 600px;
    margin: 0 auto;
    text-align: left;
}

label {
    margin-top: 6em;
}

textarea {
    width: 100%;
}

.form-h2 {
    padding: 1em 0;
}

.asu-id-input {
    width: 100px;
    margin: 1em;
}
.btnPreferences {
    margin-top: 2em;
    width: 90px;
    height: 35px;
    
}